.d1{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    width: 368px;
    height: 416px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 36px;
    margin: auto;
    margin-top: 80px;
    font-family: sans-serif;
}

.i1{
    height: 30px;
    width: 370px;
    margin: auto;
    border: 1px solid rgb(221, 215, 215);
    border-radius: 3px;
}

.d2{
    margin-top: 30px;
}

.zehead{
    margin-bottom: 60px;
    text-align: center;
}

.d3{
    margin-top: 100px;
    display: block;
    text-align: center;
}

.but{
    height: 30px;
    width: 370px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
}